.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
}

.footer-logo-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  height: 43px;
  width: 53px;
  color: white;
}

.footer-heading {
  font-family: 'DM Sans';
  font-size: 26px;
  line-height: 16px;
  color: #ffffff;
  font-style: italic;
  margin-left: 10px;
}

.footer-app-line {
  font-family: 'DM Sans';
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  width: 90%;
  text-align: center;
  line-height: 30px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .footer-app-line {
    margin-bottom: 35px;
  }
}

.social-apps-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .social-apps-container {
    width: 15%;
  }
}

.social-icon {
  background-color: #0f172a;
  color: #ffffff;
  height: 30px;
  width: 30px;
}
